select {
    width: 100%;
    max-width: 400px;
}

html, body {
    height: 100%;
    min-height: 100%;
}

.select2-example {
    padding: 10px;
}

.select2-example label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.select2-example + .select2-example {
    margin-top: 20px;
}

.select2-example--last {
    padding-bottom: 200px;
}

.foo {
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid purple;
}

.js-example-custom-multiple-empty ~ .select2-container--custom-selection {
    border: 1px solid #ff5400;
    padding: 5px;
}

.js-example-custom-multiple-empty ~ .select2-container--empty {
    display: none;
}
