.select2-container--classic {
  .select2-selection--custom {
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    cursor: default;
    outline: 0 none;

    &:focus {
      border: 0 none;
    }
  }
  &.select2-container--disabled {
    .select2-selection--custom {
      background-color: transparent;
    }
  }
}
